/* Set Your Own Margin & Padding */

h1 {
font-family: 'Nunito', Arial Bold, sans-serif;
font-size: 3em;
color:#E6673D;
}

h2 {
font-family: 'Nunito', Arial Bold, sans-serif;
font-size: 1.7em;
color:#E6673D;
line-height: 0%;
}

h3 {
font-family: 'Nunito', Arial Bold, sans-serif;
font-size: 1.25em;
color: #6B6B6B;
line-height: 0%;
}

p {
font-family: 'Open Sans', Arial Bold, sans-serif;
font-size: 1em;
color: #373737;
}
	
/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#E6673D;
}
.color-2{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color: #6B6B6B;
}
.color-3{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#CF4A61;
}
.color-4{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#F29C20;
}
.color-5{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#484F8A;
}
.color-6{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#00AE9E;
}
.color-7{
border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	background-color:#AE5FBE;
}
.imagery-1 {
	border: 1px solid #000;
background-image: url("../img/logo.png");
background-repeat: no-repeat;
	float: left;
	margin: 0 10px;
	height: 150px;
	width: 150px;
}
.imagery-2 {
	border: 1px solid #000;
background-image: url("../img/logo.png")
background-repeat: no-repeat;
	float: left;
	margin: 0 10px;
	height: 150px;
	width: 150px;
}
.imagery-3 {
	border: 1px solid #000;
background-image: url("../img/logo.png");
background-repeat: no-repeat;
	float: left;
	margin: 0 10px;
	height: 150px;
	width: 150px;
}
.pattern-1{
	border: 1px solid #000;
background-image: url("../img/top.png");
background-repeat: no-repeat;
background-size: 320%;
	float: left;
	margin: 0 10px;
	height: 150px;
	width: 150px;
}
.pattern-2{
	border: 1px solid #000;
background-image: url("../img/bottom.png");
background-repeat: no-repeat;
	float: left;
	margin: 0 10px;
	height: 150px;
	width: 150px;	
	)


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}